# Museums in the Pandemic - Extract indicators

**Authors**: Andrea Ballatore (KCL)

**Abstract**: Extract indicators from museum text.

## Setup
This is to check that your environment is set up correctly (it should print 'env ok', ignore warnings).

In [27]:
# Test geospatial libraries
# check environment
import os
print("Conda env:", os.environ['CONDA_DEFAULT_ENV'])
if os.environ['CONDA_DEFAULT_ENV'] != 'mip_v1':
    raise Exception("Set the environment 'mip_v1' on Anaconda. Current environment: " + os.environ['CONDA_DEFAULT_ENV'])

# spatial libraries 
import pandas as pd
import pickle
import spacy
from termcolor import colored
import sys
import numpy as np
from numpy import arange
#import tensorflow as tf
from bs4 import BeautifulSoup
from bs4.element import Comment
#import torch
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

# import from `mip` project
print(os.getcwd())
fpath = os.path.abspath('../')
if not fpath in sys.path:
    sys.path.insert(0, fpath)

out_folder = '../../'

from museums import *
from utils import _is_number
from analytics.text_models import derive_new_attributes_matches, get_all_matches_from_db

print('env ok')

Conda env: mip_v1
/Users/andreaballatore/Dropbox/DRBX_Docs/Work/Projects/github_projects/museums-in-the-pandemic/mip/notebooks
env ok

## Connect to DB

It needs the DCS VPN active to work.

In [28]:
# open connection to DB
from db.db import connect_to_postgresql_db

db_conn = connect_to_postgresql_db()
print("DB connected")

DB connected

## Extract matches for all museums

Using the best deep learning model defined above, find indicators for all museums (from websites and social media).

### Load deep learning validation model

In [115]:
from keras.models import load_model
from sklearn.preprocessing import MinMaxScaler

def remove_duplicate_matches(df):
    # find duplicates
    n = len(df)
    df = df.drop_duplicates(subset=df.columns.difference(['page_id','sentence_id']))
    print('remove_duplicate_matches:',n,len(df))
    return df

def prep_match_data(df):
    for c in valid_model_columns:
        if not c in df.columns:
            print("Warning: column '{}' is missing, adding a zero column".format(c))
            df[c] = 0
    
    df = remove_duplicate_matches(df)
    df = df[valid_model_columns]
    assert len(df.columns) == 33, len(df.columns)
    num_df = df.select_dtypes(include=[np.number])
    scaler = MinMaxScaler()
    # fit and transform in one step
    cols = num_df.columns
    x_data = pd.DataFrame(scaler.fit_transform(num_df),columns=cols)
    return x_data

def convert_pred_to_bool(vals):
    pred_y = (vals > 0.5).astype("bool")
    # unpack results
    bool_vals = [item for sublist in pred_y for item in sublist]
    return bool_vals

In [68]:
# MODEL COLUMNS
cols_fn = out_folder+"data/analysis/matching_validation/matching_validation_deep_learning_model_columns.csv"
valid_model_columns = pd.read_csv(cols_fn).iloc[:, 0].tolist()

valid_ann_df_fn = 'matches_valid_ann_df_v3.pik'
valid_ann_df = pd.read_pickle(out_folder+'data/annotations/'+valid_ann_df_fn)

valid_match_cnn_model = load_model(out_folder+"data/analysis/matching_validation/matching_validation_deep_learning_model.h5")
valid_match_cnn_model

x_data = prep_match_data(valid_ann_df)
assert len(x_data.columns) == 33, len(x_data.columns)
print(x_data)
pred_valid = convert_pred_to_bool(valid_match_cnn_model.predict(x_data))

valid_ann_df['predicted_valid'] = pred_valid

#valid_ann_df.to_excel(out_folder+"tmp/check_deeplearning.xlsx",index=False)
valid_ann_df.sample(10)

     sem_similarity   token_n   lemma_n  ann_overlap_lemma  ann_overlap_token  \
0          0.659748  0.285714  0.166667           1.000000            1.00000
1          0.703680  0.428571  0.333333           0.733333            0.75000
2          0.759582  0.000000  0.000000           0.146667            0.00000
3          0.726219  0.571429  0.500000           0.644448            0.66667
4          0.667261  0.000000  0.000000           0.200000            0.00000
..              ...       ...       ...                ...                ...
695        0.830129  0.428571  0.333333           0.573333            0.60000
696        0.712849  0.142857  0.166667           1.000000            0.50000
697        0.398828  0.000000  0.000000           0.200000            0.00000
698        0.647905  0.000000  0.000000           0.200000            0.00000
699        0.661403  0.142857  0.000000           0.288885            0.33333

     example_len  txt_overlap_lemma  txt_overlap_token  \
0       0.000000           0.109378            0.12500
1       0.133333           0.042017            0.05882
2       0.200000           0.095241            0.00000
3       0.266667           0.176028            0.19048
4       0.133333           0.042017            0.00000
..           ...                ...                ...
695     0.200000           0.592859            0.60000
696     0.000000           0.083932            0.05000
697     0.133333           0.185717            0.00000
698     0.133333           0.045763            0.00000
699     0.066667           0.060440            0.07692

     ann_overlap_criticwords  lemmatoken_n  ...  indicator_code_online_exhib  \
0                   1.000000      0.166667  ...                          0.0
1                   0.555560      0.333333  ...                          0.0
2                   0.333333      0.000000  ...                          0.0
3                   0.333333      0.500000  ...                          0.0
4                   0.333333      0.000000  ...                          0.0
..                       ...           ...  ...                          ...
695                 1.000000      0.333333  ...                          0.0
696                 1.000000      0.166667  ...                          0.0
697                 0.333333      0.000000  ...                          0.0
698                 0.111107      0.000000  ...                          0.0
699                 0.333333      0.000000  ...                          0.0

     indicator_code_open_cafe  indicator_code_open_cur  \
0                         0.0                      0.0
1                         0.0                      0.0
2                         0.0                      0.0
3                         0.0                      0.0
4                         0.0                      0.0
..                        ...                      ...
695                       0.0                      0.0
696                       0.0                      0.0
697                       0.0                      0.0
698                       0.0                      0.0
699                       1.0                      0.0

     indicator_code_open_onlineshop  indicator_code_project_postpone  \
0                               0.0                              0.0
1                               0.0                              0.0
2                               0.0                              0.0
3                               0.0                              0.0
4                               0.0                              0.0
..                              ...                              ...
695                             0.0                              0.0
696                             0.0                              0.0
697                             0.0                              0.0
698                             0.0                              0.0
699                             0.0                              0.0

     indicator_code_reopen_intent  indicator_code_reopen_plan  \
0                             0.0                         0.0
1                             0.0                         0.0
2                             1.0                         0.0
3                             0.0                         0.0
4                             0.0                         0.0
..                            ...                         ...
695                           0.0                         0.0
696                           0.0                         0.0
697                           1.0                         0.0
698                           0.0                         0.0
699                           0.0                         0.0

     indicator_code_staff_hiring  indicator_code_staff_restruct  \
0                            0.0                            0.0
1                            0.0                            0.0
2                            0.0                            0.0
3                            0.0                            0.0
4                            0.0                            0.0
..                           ...                            ...
695                          0.0                            0.0
696                          0.0                            0.0
697                          0.0                            0.0
698                          0.0                            0.0
699                          0.0                            0.0

     indicator_code_staff_working
0                             0.0
1                             0.0
2                             0.0
3                             0.0
4                             0.0
..                            ...
695                           0.0
696                           0.0
697                           0.0
698                           0.0
699                           0.0

[700 rows x 33 columns]

,muse_id,page_id,sentence_id,example_id,indicator_code,session_id,ann_ex_tokens,page_tokens,sem_similarity,token_n,...,indicator_code_project_postpone,indicator_code_reopen_intent,indicator_code_reopen_plan,indicator_code_staff_hiring,indicator_code_staff_restruct,indicator_code_staff_working,overlap_bin,valid_match,valid_match_b,predicted_valid
649,mm.domus.WM037,792242,mus_page792242_sent00003,ann_ex_00228,reopen_intent,20210304,we look forward welcoming,world slowly returns new normal we look forwar...,0.8352,3,...,0,1,0,0,0,0,"(0.45, 1.01]",T,True,True
671,mm.musa.392,116010,mus_page116010_sent00033,ann_ex_00264,staff_hiring,20210304,interested volunteering,volunteer focus magazine corporate partnership...,0.6264,0,...,0,0,0,1,0,0,"(0.45, 1.01]",F,False,False
561,mm.aim.0207,698073,mus_page698073_sent00053,ann_ex_00235,reopen_intent,20210304,we look forward seeing soon,we look forward re opening lockdown lifts whic...,0.8771,3,...,0,1,0,0,0,0,"(0.45, 1.01]",T,True,True
117,mm.musa.356,675180,mus_page675180_sent00062,ann_ex_00267,staff_working,20210304,team continues to work winter months,ok cancel restriction continue cancel your ref...,0.5891,0,...,0,0,0,0,0,1,"(0.0, 0.45]",F,False,False
510,mm.domus.SE439,781347,mus_page781347_sent00081,ann_ex_00191,online_exhib,20210304,online gallery,museum displays oak panelled 16th century old ...,0.5029,1,...,0,0,0,0,0,0,"(0.45, 1.01]",F,False,False
264,mm.ace.1109,516028,mus_page516028_sent00230,ann_ex_00180,online_event,20210304,online events,it becomes an annual event august bank holiday,0.6381,0,...,0,0,0,0,0,0,"(0.45, 1.01]",F,False,False
579,mm.domus.SC246,366843,mus_page366843_sent00106,ann_ex_00257,reopen_plan,20210304,we currently plan to re open,opens new window,0.6268,0,...,0,0,1,0,0,0,"(0.0, 0.45]",F,False,False
516,mm.MDN.006,706877,mus_page706877_sent00143,ann_ex_00232,reopen_intent,20210304,welcome you back in,positive activities grant pag rural funding ba...,0.5686,1,...,0,1,0,0,0,0,"(0.0, 0.45]",F,False,False
592,mm.domus.SE522,113653,mus_page113653_sent00153,ann_ex_00041,closed_indef,20210304,closed further notice,bookshop house shop remain closed further notice,0.8278,3,...,0,0,0,0,0,0,"(0.45, 1.01]",T,True,True
654,mm.musa.258,199540,mus_page199540_sent00120,ann_ex_00225,reopen_intent,20210304,we hope pray can bring some amazing special ev...,rich vibrant bold warm to bring some joy,0.7868,2,...,0,1,0,0,0,0,"(0.0, 0.45]",F,False,False

### Load all matches from DB

- Dump all matches from DB, after running `an_text` on ALL museums for a given crawling session.

In [31]:
# DB columns:
""" 
example_id indicator_code lemma_n lemma_n_wdupl token_n token_n_wdupl criticalwords_n criticalwords_n_wdupl sentence_id  sent_len
example_len example_crit_len ann_overlap_lemma ann_overlap_token ann_overlap_criticwords txt_overlap_lemma
txt_overlap_token ann_ex_tokens ann_ex_tokens page_tokens session_id page_id muse_id keep_stopwords
"""

# load from DB - SLOW
sessions = ['20210304','20210404','20210914']
for session_id in sessions:
    get_all_matches_from_db(session_id, db_conn, out_folder)

get_all_matches_from_db 20210304
query results: (1136440, 17)
	saved ../../tmp/matches_dump_df_20210304.pik
get_all_matches_from_db 20210404
query results: (842167, 17)
	saved ../../tmp/matches_dump_df_20210404.pik

### Predict all matches

In [116]:
sessions = ['20210304','20210404']

def select_valid_matches(df, model):
    """ use Deep Learning model to validate matches """
    x_data = prep_match_data(df)
    
    print('select_valid_matches', x_data.shape)
    # check column order
    assert valid_model_columns == x_data.columns.tolist()
    print(x_data.shape)
    # apply model for predictions
    valid_int = model.predict(x_data)
    pred_valid = convert_pred_to_bool(valid_int)
    #print(type(pred_valid),len(pred_valid))
    df['valid_match'] = pred_valid
    print(df.valid_match.value_counts())
    return df

assert len(valid_model_columns) > 0
allsess_match_df = pd.DataFrame(columns=valid_model_columns)

for session_id in sessions:
    print('> session_id',session_id)
    matches_fn = out_folder+'tmp/matches_dump_df_{}.pik'.format(session_id)
    matchdf = pd.read_pickle(matches_fn)
    matchdf = remove_duplicate_matches(matchdf)
    print("\t", matches_fn, matchdf.shape)
    # apply model to get valid matches
    validmatch_df = select_valid_matches(matchdf, valid_match_cnn_model)
    # save sample to inspect results
    validmatch_df.sample(200).to_csv(out_folder+'tmp/valid_matches_sample_{}.tsv'.format(session_id),sep='\t')
    # save results
    allsess_match_df = pd.concat([allsess_match_df, validmatch_df])

print('all matches:',len(allsess_match_df))

> session_id 20210304
remove_duplicate_matches: 1136440 926928
	 ../../tmp/matches_dump_df_20210304.pik (926928, 41)
remove_duplicate_matches: 926928 926928
select_valid_matches (926928, 33)
(926928, 33)
False    842258
True      84670
Name: valid_match, dtype: int64
> session_id 20210404
remove_duplicate_matches: 842167 729944
	 ../../tmp/matches_dump_df_20210404.pik (729944, 40)
Warning: column 'indicator_code_staff_restruct' is missing, adding a zero column
remove_duplicate_matches: 729944 729944
select_valid_matches (729944, 33)
(729944, 33)
False    659234
True      70710
Name: valid_match, dtype: int64
all matches: 1656872

In [131]:
print(allsess_match_df.columns)
print("Matches from DB:")
round(allsess_match_df['valid_match'].value_counts()/len(allsess_match_df),2)

Index(['sem_similarity', 'token_n', 'lemma_n', 'ann_overlap_lemma',
       'ann_overlap_token', 'example_len', 'txt_overlap_lemma',
       'txt_overlap_token', 'ann_overlap_criticwords', 'lemmatoken_n',
       'ann_overlap_tokenlemma', 'txt_overlap_tokenlemma',
       'indicator_code_closed_indef', 'indicator_code_closed_perm',
       'indicator_code_finance_health', 'indicator_code_funding_did_not_get',
       'indicator_code_funding_fundraise', 'indicator_code_funding_gov_emer',
       'indicator_code_funding_other_emer', 'indicator_code_lang_difficulty',
       'indicator_code_made_covid_safe', 'indicator_code_online_engag',
       'indicator_code_online_event', 'indicator_code_online_exhib',
       'indicator_code_open_cafe', 'indicator_code_open_cur',
       'indicator_code_open_onlineshop', 'indicator_code_project_postpone',
       'indicator_code_reopen_intent', 'indicator_code_reopen_plan',
       'indicator_code_staff_hiring', 'indicator_code_staff_restruct',
       'indicator_code_staff_working', 'muse_id', 'page_id', 'sentence_id',
       'example_id', 'indicator_code', 'session_id', 'ann_ex_tokens',
       'page_tokens', 'valid_match'],
      dtype='object')
Matches from DB:

False    0.91
True     0.09
Name: valid_match, dtype: float64

In [118]:
allsess_match_valid_df = allsess_match_df[allsess_match_df.valid_match]
allsess_match_valid_df = remove_duplicate_matches(allsess_match_valid_df)
print("N =", len(allsess_match_valid_df))
print("N museums =", len(allsess_match_valid_df.muse_id.unique()))

muse_indic_df = allsess_match_valid_df.groupby(['muse_id','session_id','page_id','indicator_code']).size().reset_index(name='n_matches')
muse_indic_df = muse_indic_df.sort_values(['session_id','muse_id','indicator_code'])
print(muse_indic_df.session_id.value_counts())
muse_indic_df.to_csv(out_folder+'tmp/museum_indicators_stats.csv', index=False)
muse_indic_df.sample(30)

remove_duplicate_matches: 155380 155380
N = 155380
N museums = 2912
20210304    15580
20210404    11705
Name: session_id, dtype: int64

              muse_id session_id   page_id     indicator_code  n_matches
25970     mm.wiki.150   20210304  507110.0         closed_cur          9
26657     mm.wiki.308   20210404  462851.0       online_engag          9
17081  mm.domus.SW241   20210304  372631.0      staff_working          1
8613   mm.domus.SC082   20210304  193228.0   project_postpone          1
17751  mm.domus.WA094   20210404   38454.0    open_onlineshop          1
24501     mm.musa.260   20210304  713996.0           open_cur          2
7536   mm.domus.NW125   20210304  333842.0       online_exhib          1
16736  mm.domus.SW219   20210304  409636.0    open_onlineshop          6
3579      mm.aim.0310   20210404  246542.0      staff_working          2
5301   mm.domus.EM027   20210404  244053.0    open_onlineshop         11
8919   mm.domus.SC129   20210404  573007.0    open_onlineshop          3
4662      mm.aim.1115   20210404    1245.0      reopen_intent          7
2047      mm.ace.1197   20210404  156354.0      staff_working          5
13934  mm.domus.SE527   20210304  370136.0      staff_working          2
1583      mm.ace.1144   20210404  315146.0       closed_indef          1
20491      mm.fcm.190   20210404  509571.0      staff_working          3
1148      mm.ace.1099   20210404   17521.0    open_onlineshop          1
24004     mm.musa.121   20210404  170225.0    open_onlineshop          1
26401     mm.wiki.248   20210404  112889.0      reopen_intent         19
19756  mm.domus.YH113   20210304  988325.0           open_cur          1
14221  mm.domus.SE542   20210404  105021.0    open_onlineshop          1
19175  mm.domus.YH027   20210304  613267.0       online_event          1
14653  mm.domus.SE573   20210304   32058.0       online_event          4
2353      mm.ace.1228   20210304  430807.0      reopen_intent          7
6067   mm.domus.NE017   20210304   62220.0         closed_cur          4
14558  mm.domus.SE562   20210304  484791.0       online_engag          4
12214  mm.domus.SE317   20210304  413463.0      reopen_intent         16
759         mm.New.75   20210404   61395.0  funding_fundraise          7
3899      mm.aim.0527   20210304  188211.0      reopen_intent          4
12103  mm.domus.SE300   20210304  432562.0   project_postpone          1

## Get museum sample to inspect results

- Inspect the summary file on the rows that have been assigned to you (evaluator column). These rows represent indicators for museums in a given session, only including matches that have been considered valid by the system.
- For each row in the summary file, you can find the corresponding matches in the matches file. Please check them for quality, comparing as usual the annotation tokens with the page tokens.
- I realise that there are a lot of rows, so you can select a subsample of your choice. This is an exploratory task, so it’s mainly to check if the results make sense and the accuracy seems to be about 80% (basically, max 20% false positives). If needed, we can do also it as a formal evaluation.

In [125]:
musem_sample_ids = muse_indic_df.muse_id.sample(10,random_state=10)
muse_sample_df = muse_indic_df[muse_indic_df.muse_id.isin(musem_sample_ids)]
muse_sample_df.to_excel(out_folder+'tmp/museum_website_match_sample10_summary.xlsx',index=False)
allsess_match_valid_df[allsess_match_valid_df.muse_id.isin(musem_sample_ids)].to_excel(out_folder+'tmp/museum_website_match_sample10_matches.xlsx',index=False)

muse_sample_df

           muse_id session_id   page_id     indicator_code  n_matches
4261   mm.aim.0788   20210304  375954.0         closed_cur         11
4262   mm.aim.0788   20210304  375954.0  funding_fundraise          1
4263   mm.aim.0788   20210304  375954.0       online_engag          7
4264   mm.aim.0788   20210304  375954.0           open_cur          1
4265   mm.aim.0788   20210304  375954.0      reopen_intent         17
...            ...        ...       ...                ...        ...
24384  mm.musa.242   20210404  271710.0       online_engag          3
24385  mm.musa.242   20210404  271710.0           open_cur          3
24386  mm.musa.242   20210404  271710.0      reopen_intent          1
24387  mm.musa.242   20210404  271710.0        reopen_plan          2
24388  mm.musa.242   20210404  271710.0      staff_working          1

[113 rows x 5 columns]

42 42

End of notebook