# MIP Search App

Search facility for MIP data

## Setup
Run this cell only once.

In [72]:
#from google.colab import drive, files
#drive.mount('/content/drive')
print("Downloading source code...")
#!wget -q https://www.dropbox.com/s/8cq075g74yniayy/search_utils.py?dl=1 -O search_utils.py
!wget -q https://www.dropbox.com/s/7jbbewmgdvyh3wa/museums_wattributes-2020-02-23.tsv?dl=1 -O museums_wattributes-2020-02-23.tsv
print("Downloading DB...")
!wget -q https://www.dropbox.com/s/nnaujcnzdp5y8ua/mip_corpus_search.db.zip?dl=1  -O mip_corpus_search.db.zip

#!unzip -o /content/drive/MyDrive/Colab/mip_corpus_search.db.zip -d /content/
!unzip -o mip_corpus_search.db.zip -d /content/
%run search_utils.py

Downloading source code...
Downloading DB...
^C
Archive:  mip_corpus_search.db.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of mip_corpus_search.db.zip or
        mip_corpus_search.db.zip.zip, and cannot find mip_corpus_search.db.zip.ZIP, period.
generate_derived_attributes_muse_df
ok

## Search

Syntax: * means 'any character'

In [161]:
#@title Search corpus { display-mode: "form" }
%run search_utils.py
search_string = "london" #@param {type:"string"}
case_sensitive = False #@param {type:"boolean"}
search_websites = False
search_website_sentences = True #@param {type:"boolean"}
search_facebook = True #@param {type:"boolean"}
search_twitter = False #@param {type:"boolean"}
max_results =  10#@param {type:"integer"}
context_window =  7#@param {type:"integer"}
res_df = run_search(search_string, case_sensitive,
           search_facebook, search_twitter, search_websites, 
           search_website_sentences)
if len(res_df) > 0:
  results_html, results_page_df = generate_html_matches(res_df, search_string, 
    case_sensitive, context_window, max_results)
  display(HTML(results_html))
#res_df

generate_derived_attributes_muse_df
ok
WEBSITES: 2773 matches found. N sessions: 2. Unique museums: 496
FACEBOOK: 28353 matches found. Unique museums: 669
search_regex: '(?i)\blondon\b'

# Analyse search results

In [162]:
%run search_utils.py
#@title Default title text
token_context_size =  10#@param {type:"integer"}
assert len(res_df) > 0
res_attr_df = an_results(res_df, search_string, case_sensitive, token_context_size)
#res_attr_df

generate_derived_attributes_muse_df
ok
N results: 31126 • N unique museums: 1029
                   n_results
facebook               28353
website_sentences       2773

museum (3447) one (3025) day (2727) new (2555) first (2532) today (2179) exhibition (1979)
art (1916) time (1902) gallery (1795) years (1767) collection (1755) us (1743) history (1722)
work (1632) royal (1575) born (1565) two (1517) year (1483) part (1434)

london (5317) museum (3133) one (2671) new (2594) also (2270) road (2234) time (2211)
first (2160) find (2052) work (2012) us (1968) years (1882) two (1705) would (1675)
day (1663) visit (1568) art (1552) see (1495) exhibition (1486) people (1481)

Unique museum results: 1165

                              attribute_value  ...  museum_attribute_pc
0                  Independent:Not for profit  ...                 34.2
1                  Government:Local Authority  ...                 35.7
2                         Independent:Private  ...                 28.0
3                  Independent:National Trust  ...                 35.5
4                         Government:National  ...                 79.7
5                                  University  ...                 55.4
6                         Independent:Unknown  ...                 30.1
7                Independent:English Heritage  ...                 38.5
8                                     Unknown  ...                 34.5
9     Independent:National Trust for Scotland  ...                 11.5
10                            Government:Cadw  ...                 66.7
11  Independent:Historic Environment Scotland  ...                 10.5
12                           Government:Other  ...                 20.0

[13 rows x 5 columns]

              attribute_value  n_museums  ...  n_tot_museums  museum_attribute_pc
13                    London         280  ...            238                117.6
14                South East         173  ...            476                 36.3
15                   Scotland        105  ...            494                 21.3
16                South West         101  ...            422                 23.9
17           East of England          98  ...            333                 29.4
18                North West          80  ...            247                 32.4
19             East Midlands          71  ...            229                 31.0
20             West Midlands          60  ...            228                 26.3
21                      Wales         58  ...            207                 28.0
22  Yorkshire and The Humber          56  ...            229                 24.5
23           Northern Ireland         44  ...             94                 46.8
24                North East          33  ...            105                 31.4
25                Isle of Man          3  ...             15                 20.0
26            Channel Islands          2  ...             24                  8.3

[14 rows x 5 columns]

   attribute_value  n_museums  ...  n_tot_museums  museum_attribute_pc
27           small        517  ...           1825                 28.3
28          medium        305  ...            865                 35.3
29           large        277  ...            498                 55.6
30         unknown         47  ...            141                 33.3
31            huge         18  ...             12                150.0

[5 rows x 5 columns]

             attribute_value  n_museums  ...  n_tot_museums  museum_attribute_pc
32                 Buildings        206  ...            553                 37.3
33           Local Histories        192  ...            764                 25.1
34                      Arts        136  ...            247                 55.1
35          War and conflict         99  ...            333                 29.7
36                 Transport         81  ...            224                 36.2
37                     Mixed         76  ...            166                 45.8
38               Personality         75  ...            176                 42.6
39  Industry and manufacture         43  ...            151                 28.5
40       Belief and identity         39  ...             96                 40.6
41         Sea and seafaring         34  ...            102                 33.3
42         Leisure and sport         32  ...             87                 36.8
43                     Other         26  ...             43                 60.5
44       Medicine and health         24  ...             34                 70.6
45            Rural Industry         21  ...            111                 18.9
46             Natural world         17  ...             47                 36.2
47               Archaeology         17  ...             91                 18.7
48                  Services         15  ...             34                 44.1
49    Science and technology         10  ...             21                 47.6
50            Communications          9  ...             13                 69.2
51                 Utilities          8  ...             33                 24.2
52            Food and drink          4  ...             15                 26.7

[21 rows x 5 columns]

### Download results as Excel

In [80]:
# click here to download the complete results
fn = 'search_results_{}.xlsx'.format(get_now_string())
df = results_page_df.copy()
df['search'] = search_string
df.to_excel(fn, index=False)
files.download(fn)

In [85]:
# click here to download the attribute analysis of results
fn = 'search_results_attributes_{}.xlsx'.format(get_now_string())
df = res_attr_df.copy()
df['search'] = search_string
df.to_excel(fn, index=False)
files.download(fn)

### Backup application

In [163]:
from google.colab import drive, files
files.download('search_utils.py')
#files.download('mip_search_app-v1.ipynb')